<h1>Lista de Produtos</h1>
<p>Bem-vindo, {{user.email}}! Você é um {{user.role}}.</p>

<ul>
    <li>Produto 1 - R$ 50</li>
    <li>Produto 2 - R$ 100</li>
    <li>Produto 3 - R$ 150</li>
</ul>

<a href="/logout">Sair</a>
